---
name: Image Build and Push
on:
  workflow_dispatch:
    inputs:
      version:
        description: VyOS version to build
        type: string
        default: 'latest'
        required: true

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt update && sudo apt install -y squashfs-tools

      - name: Build Image
        env:
          VERSION: ${{ inputs.version }}
        run: bash build.sh

      - name: Log in to the Container registry
        uses: docker/login-action
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push image to registry
        run: docker push ghcr.io/routedbits/vyos:${{ inputs.version }}
