---
name: Image Build and Push
on:
  workflow_dispatch:
    inputs:
      version:
        description: VyOS version to build
        type: string
        required: false

  # Every Day at 6AM
  schedule:
    - cron: '0 6 * * *'

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt update && sudo apt install -y squashfs-tools

      - name: Set up Python 
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Use Specified Version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "VERSION=${{ inputs.version }}" >> $GITHUB_ENV
        if: ${{ inputs.VERSION != '' }}

      - name: Use Latest Version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "VERSION=$(python vyos-latest.py)" >> $GITHUB_ENV
        if: ${{ inputs.VERSION == '' }}

      # vyos-latest will check if the image already exists in GitHub
      # and will output 'skipbuild' if it does, which is checked by subsequent steps
      # so the image isn't rebuilt unnecessarily

      - name: Build Image from ISO
        run: bash build.sh
        if: ${{ env.VERSION != 'skipbuild' }}

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ env.VERSION != 'skipbuild' }}

      - name: Push image to registry
        run: |
          docker tag ghcr.io/routedbits/vyos:${{ env.VERSION }} ghcr.io/routedbits/vyos:latest
          docker tag ghcr.io/routedbits/vyos:${{ env.VERSION }} ghcr.io/routedbits/vyos:rolling-latest
          docker push ghcr.io/routedbits/vyos --all-tags
        if: ${{ env.VERSION != 'skipbuild' }}

      - name: Build and Push SSH Enabled Image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: |
            ghcr.io/routedbits/vyos:latest-ssh
            ghcr.io/routedbits/vyos:rolling-latest-ssh
            ghcr.io/routedbits/vyos:${{ env.VERSION }}-ssh
        if: ${{ env.VERSION != 'skipbuild' }}
